

 Django>=5.0.0
 djangorestframework
 djangorestframework
 gunicorn
-# Add other dependencies mentioned in your Readme.md if they are being used:
-# django-cors-headers>=4.3.0
-# python-decouple>=3.8
+python-decouple>=3.8
